@import "src/core/stylesheets/core.variables";
@import "src/core/stylesheets/core.mixins";
@import "src/core/stylesheets/core.colors";

.Hint {
  position: relative;

  &:hover {
    .Hint__body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__body {
    @include text_M;

    display: none;
    position: absolute;
    background-color: $toast_bg_color;
    padding: $space_S;
    border-radius: $border-radius_s;
    min-width: 140px;
    width: 100%;
    text-align: center;
    color: $primary_text_color;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);

    &:after {
      content: "";
      position: absolute;
      background-color: $toast_bg_color;
      width: 10px;
      height: 10px;
      bottom: 0;
      left: 50%;
      transform: rotate(45deg) translateY(50%);
    }

    &_bottom {
      top: unset;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);

      &:after {
        bottom: unset;
        top: 0;
        left: 50%;
        transform: rotate(45deg) translateY(-50%);
      }
    }

    &_left {
      left: 0;
      top: 50%;
      transform: translate(-100%, -50%);

      &:after {
        left: unset;
        bottom: unset;
        right: 0;
        top: calc(50% - 5px);
        transform: rotate(45deg) translateX(50%);
      }
    }

    &_right {
      left: unset;
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);

      &:after {
        bottom: unset;
        left: 0;
        top: 50%;
        transform: rotate(45deg) translateX(-50%);
      }
    }
  }
}