/**
Общие
 */
$black: #000000;
$white: #ffffff;
$dividing_line_color: #DFDEE2;
$page_bg_color: #F7F8FA;
$element_color_active: #007AFF;
$element_color_disabled: #CECECE;
$icon_color: #9e9e9e;
$indicator_color: #99bade;

/**
Текст
 */
$primary_text_color: #333;
$secondary_text_color: #7E7E83;
$text_color_disabled: #CECECE;
$link_color: #007AFF;

/**
Таблица
 */
$table_border_color: #DFDEE2;
$table_row_color_disable: #ffffff;
$table_row_color_hover: #f7f8fa;
$table_row_color_active: #f7f8fa;
$table_header_text_color: #7e7e83;
$table_header_bg_color: #f6f9ff;
$table_header_mvideo_bg_color: #FFF3F4;
$table_header_eldorado_bg_color: #F4FFED;
$limit_table_overflow_bg_color: #FFF3F4;
$limit_table_no-overflow_bg_color: #F4FFED;
$limit_table_shortage_bg_color: #FFF4E2;
$limit_table_overflow_text_color: #E31235;
$limit_table_no-overflow_text_color: #27C177;
$limit_table_shortage_text_color: #F28419;
$editing_row_bg_color: #FCFAEE;
$table_cell_checkbox_color_checked: #FFF4E2;


/**
Кнопка
 */
$button_clear_bg_color_hover: #F1F2F6;
$button_primary_bg_color: #007AFF;
$button_primary_bg_color_hover: #4FA2FD;
$button_primary_text_color: #ffffff;
$button_bg_color_disabled: #F1F2F6;
$button_text_color_disabled: #CECECE;
$button_secondary_border_color: #007AFF;
$button_secondary_text_color: #007AFF;
$button_secondary_bg_color_hover: #E5F0FC;
$button_dropdown_border_color: #DEDEE2;
$button_dropdown_border_color_hover: #4FA2FD;
$button_dropdown_bg_color_hover: #fff;
$button_dropdown_text_color: #7E7E83;
$button_dropdown_border_color_active: #007AFF;
$button_dropdown_text_color_active: #333333;
$button_icon_border_color: #DEDEE2;
$button_icon_border_color_hover: #4FA2FD;
$button_icon_bg_color_hover: #E5F0FC;
$button_icon_border_color_active: #E5F0FC;
$button_icon_bg_color_active: #E5F0FC;
$button_icon_color_enable: #9E9E9E;
$button_icon_color_active: #007AFF;

/**
Чекбокс
 */
$checkbox_primary_border_color: #9E9E9E;
$checkbox_primary_icon_color_check: #7E7E83;
$checkbox_secondary_border_color: #9E9E9E;
$checkbox_secondary_bg_color_active: #007AFF;
$checkbox_secondary_icon_color_check: #ffffff;
$checkbox_check_color_disabled: #CECECE;
$checkbox_border_color_disabled: #CECECE;
$checkbox_bg_color_disabled: #ffffff;

/**
  Радио
 */
$radio_border_color: #9E9E9E;
$radio_border_color_active: #007AFF;

/**
Тоггл
 */
$toggle_bg_color: #9e9e9e;
$toggle_bg_color_disabled: #cecece;
$toggle_bg_color_active: #007aff;
$toggle_icon_color: #ffffff;

/**
Инпут
 */
$text_input_color_enable: #DEDEE2;
$text_input_icon_color: #9E9E9E;

/**
Статусы
 */
$success_color: #27c177;
$warning_color: #f28419;
$error_color: #e31235;
$pending_color: #ffa41c;
$done_color: #a0de80;

/**
Чипсы
 */
$chips_background_color: #f1f2f6;
$element_color_selected: #f7f8fa;

/**
Бренды
 */
$e_commerce_lable_color: #7dd4ff;
$mvideo_lable_color: #ff3d00;
$eldorado_lable_color: #27c177;

/**
Тултип
 */
$toast_bg_color: #fff4e2;

/**
Экспандер
 */
$expander_bg_color: #F9FAFB;

/**
Аватары
 */
$avatar_bg_blue_color: #E5F0FC;
$avatar_border_blue_color: #B7D8FD;
